[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/hivickylai/hugo-theme-introduction
[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock
[submodule "themes/hugo-theme-introduction"]
	path = themes/hugo-theme-introduction
	url = https://github.com/vickylai/hugo-theme-introduction
